%div.experiment-container.experiment-test


  .row.flex-row.plans
    - data.pricing.plans.each_with_index do |plan, index|
      - free = plan.id == 'free'
      .col-md-3.plan
        .image= image_tag "pricing/#{plan.id}.svg"
        .content
          .title= plan.title
          .description= plan.description
          .price $#{plan.monthly_price}
          .price-monthly /user/month
          - unless free
            .price-annually (USD, billed annually at $#{plan.monthly_price * 12})
          .btn{ data: { target: "##{plan.id}-modal", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'
        .features
          .feature-title= free ? 'Includes' : "All the benefits of #{data.pricing.plans[index - 1].title}&nbsp;+"
          %ul
            - plan.features.each do |feature|
              - if feature.has_popup == true
                - feature_title_parameterized = feature.title.to_s.parameterize
                %li
                  .compare{ data: { target: "##{feature_title_parameterized}-compare-modal", toggle: 'modal' } } #{feature.title}
              - else
                %li #{feature.title}


    -# generate the feature comparison modal so it can be displayed when clicking a compare button
    = partial 'pricing/_compare-modal'
