---
title: "Working for GitLab - A Support Engineer's perspective"
author: Anton Smith
author_gitlab: anton
author_twitter: Twitter username or gitlab # ex: johndoe
categories: unfiltered
image_title: '/images/blogimages/gitlab-values-cover.png'
description: "Reflecting on the last 12 months working for GitLab as a Support Engineer"
tags: careers
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

Hi everyone! My name is Anton and I’m a Support Engineer at GitLab, where I have been working for the last 12 months, and I’d like to share my story with you all.

Last Friday afternoon, I was on a Zoom call with a colleague discussing some customer tickets. It was during this time that my phone started ringing. Not recognizing the number, and having that curiosity of wondering who it could possibly be, I placed my Zoom call on mute and accepted the call on my phone. The person on the other end of the line turned out to be a recruiter I had reached out to over a year ago. They explained that they had seen my Linkedin profile earlier in the day and they thought I was the perfect fit for a Senior PHP Developer role that had just opened up. Thanking them for getting in touch, I informed them that I would review the information they provided and get back to them. Since I was still in a Zoom call, I unmuted that call and told my colleague about how random it was that a recruiter contacted me after all this time. We had a chuckle and then resumed our discussion on customer tickets. However  in the back of my mind, I continued to think about the recruiter’s offer. So here I am reflecting on the past 12 months and my time at GitLab.

Before joining the team at GitLab, I was a full stack web developer for 10 years and had no prior experience working in a pure support role. The shift from a development career to support wasn’t one made by my own choice. Unfortunately at my previous employer there were some redundancies happening so I thought this would be a good opportunity to look around and see what else was on offer. With PHP development roles in scarce supply in my city, I would’ve needed to shift to a larger city if I wanted to stay in the same type of work. It was by mere chance that I saw an ad for the GitLab Support Engineer role on Linkedin. I pondered on the idea of applying for the position.

As a web developer, I was already very familiar with the GitLab product and had been using and administering the GitLab product since the source days, before the Omnibus and CI were even a thing! I even remember back then, the GitLab logo kind of looked like a grumpy fox, nothing like what our logo looks like today! I was also blown away by the GitLab Handbook and how transparent the company was on a public level.

So, I thought, why not? Let’s apply at GitLab and see how it goes. 

To my surprise, the interview process was a great experience. I was met with many smiles, and had engaging conversations with all the interviewers. I definitely saw myself working here. When I was offered the position, I was thrilled, but while the relief of securing a new position started to fade, the new challenge was only just beginning. 

When I started my first few days at GitLab, I was super excited about working for an awesome company full of inspiring people, but I was also super scared. From my perspective, I had just changed career types and was now transitioning from a development role into a support role. It was definitely a gamble changing career types. I had some idea of what I was getting myself into, but honestly I was really worried that I would not be able to fulfil my duties in Support effectively. I was worried the job would be too difficult. I was worried that my colleagues would think that I am incompetent and question why I was even at GitLab. I was worried I’d miss writing code as I once did in my development career. It was also the first remote job that I had ever worked, and I wondered if I would feel lonely working alone at home. There were several times when I questioned myself - did I make the right decision coming to GitLab? 

The main contributing factor to settling into GitLab was just how awesome the team was in making me feel welcome. It took a while for me to warm up to everyone, as I admit I was a little afraid, but when I was stuck on something, the team was always willing to help and I am so grateful to be part of that. Every time I was on a Zoom call with the team, I was always met with a friendly smile, and was constantly told that I should take my time learning the role, and not try to rush into everything. While internally struggling with myself to ask questions I considered stupid, I was encouraged to ask them anyway, because someone else might have the same question and as the saying goes “ there is no such thing as a silly question”.

With some determination, perseverance, and encouragement from the rest of the Support team, I began to feel better about my situation and gain more confidence in my role. With the GitLab application and its components being as big as they are, I quickly realised that I would not be able to learn everything in depth and should spend some time specialising in specific areas so I could feel competent in my role. 

Using that logic, I took an interest to GitLab Geo in the early days, and I am now one of the Geo experts for the Asia Pacific region. One of the other initiatives I am currently working towards is learning about Kubernetes as we are seeing more customers run GitLab on this platform. Kubernetes is a fascinating topic for me and it’s definitely something I would have never explored as a web developer. Basically, I became a knowledge sponge and have been continuously assimilating information ever since.

With the change in role when moving to Gitlab, I started out discounting the usefulness of my previous skills but shortly realised that they were invaluable in contributing to the team. I came across a pain point with downloads from Zendesk, our customer ticket system and how the downloads all went to a single folder. Using my web development skills, I built a browser extension that sorted ticket downloads into separate folders for myself. I remember hesitantly sharing this with the Support team, and I was stunned that so many of my colleagues were actually so happy that I created the extension. This encouraged me to get more involved with further initiatives with the team.

As time flew by, I continued to build on my confidence, learning more about the role and the GitLab ecosystem. I was always looking forward to sitting down at my desk everyday to work, especially to work alongside my colleagues in real time via Zoom on fascinating problems that customers were facing. As an ex web developer, I was always one that enjoyed the journey in solving a problem, the twists and turns that might pop up, and how to overcome any unknowns. I also jumped into Rails whenever I got a chance, as some problems require Ruby code to be written for customers to run, which satisfied my coding urges. These commonalities were also present in my role as a Support Engineer, which allowed me to easily migrate across the roles. There are some things in my job I still find scary, but it’s a good scary, as I see it as another challenge to take head on. Plus, if I can’t figure it out, there is a strong team I work alongside and they are always happy to offer some help if I get stuck.

After reflecting on the past 12 months at GitLab, I then started thinking about the call I received from the recruiter. Sure, I had many doubts when I started and had experienced many high moments as well as low moments, but I definitely felt like being a Support Engineer was the right career for me. I feel like the leap of faith I took a year previously and changing career types had definitely paid off. I feel like a valued team member at GitLab and love how I work with a diverse group of people from all walks of life across the globe. I would not trade that experience for anything.

The next day, I called the recruiter back, and I politely declined their job offer, explaining that I now work remotely for a US company called GitLab and I love working for them. The recruiter of course was disappointed, but they also understood why I didn't want to leave.

Sometimes it’s a good idea to stop, look back and reflect. I quickly realised that I have achieved so much and positively impacted so many people over that time. I was so excited and scared when starting work at GitLab due to switching career paths, and I had many doubts. I’m glad I took a chance and saw it through. I can’t imagine myself working anywhere else.

